@page
@model SSD_Alkolq.Pages.Feedback.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackRecord[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackRecord[0].FeedbackType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackRecord[0].FeedbackContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackRecord[0].DateTimeStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FeedbackRecord) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedbackType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedbackContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeStamp)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Feedback_ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Feedback_ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Feedback_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
