@page
@model SSD_Alkolq.Pages.AlcoholProducts.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/alcohol_details.css">

<h1>Details</h1>

<div>
    <h4>AlcoholProduct</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-4">
            <img src="~/images/@Model.AlcoholProduct.ImageName" />
        </dd>
        <div class="col-sm-8 details-text">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AlcoholProduct.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AlcoholProduct.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AlcoholProduct.Type)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AlcoholProduct.Type)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AlcoholProduct.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AlcoholProduct.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AlcoholProduct.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AlcoholProduct.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AlcoholProduct.ListDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AlcoholProduct.ListDate)
            </dd>
        </div>
    </dl>
</div>
<form asp-page-handler="AddToCart" method="post">
    <input type="hidden" value="@Model.AlcoholProduct.ID" name="id" />
    <button class="btn btn-primary">Add to Cart</button>
</form>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AlcoholProduct.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
