@page
@model SSD_Alkolq.Pages.AlcoholProducts.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/products-index.css">

<h1 class="index-title">Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        <select asp-for="AlcoholType" asp-items="Model.Type">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlchoholProduct[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlchoholProduct[0].ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlchoholProduct[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlchoholProduct[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlchoholProduct[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AlchoholProduct)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="~/images/@item.ImageName" , class="index-img" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
