@page "{id}"
@model SSD_Alkolq.Pages.ShoppingCart.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ShoppingCartItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShoppingCartItem.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShoppingCartItem.User.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShoppingCartItem.AlcoholProduct)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShoppingCartItem.AlcoholProduct.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShoppingCartItem.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShoppingCartItem.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ShoppingCartItem.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
